/**
 * 描    述：		定义广告相关的组件样式
 * 作用范围: 		广告模块
 * 组件：	广告信息添加，时间地点插件，表格，浮层
 * 模块搜索关键字： =
 * 作者：张琨 杨玥
 */


/* = 表单
------------------------------------------ */


/*Kun:广告列表展示*/

.data-table {
    table-layout: fixed;
}
.data-table thead tr th{
    background: #36648B;
}
.data-table thead tr th,
.data-table tbody tr td {
    white-space: nowrap;
    text-align: center;
}

.data-table thead tr th {
    text-align: center;
    height: 40px;
    line-height: 40px;
    padding: 2px 5px;
}

tbody{
	margin-bottom: 10px;
}

.data-table tbody tr td {
    padding: 5px;
    height: 45px;
    font-weight: 400;
}

.tableScroll {
	height: 750px;
    overflow-y: hidden;
    
}

.adsListShow {
    position: relative;
    height: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.adsListShow thead,
.adsListShow tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.adsListShow tbody {
    display: block;
    overflow-y: scroll;
    height: 100%;
    max-height: 220px;
}


/*Kun:更多详情展示*/

.moreDetailShow {
    display: none;
}

.checkMoreDetail:hover .moreDetailShow {
    display: block !important;
    z-index: 2;
    position: absolute;
    top: 50px;
    right: 7%;
    width: 500px;
    height: 450px;
    line-height: 40px;
    overflow: auto;
    /*margin-top: -60px;
    margin-left: -90px;*/
    padding: 20px 15px 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: left;
    font-size: 14px;
    border-radius: 10px;
}

.checkMoreDetail:hover .moreDetailShow p {
    border-bottom: 1px solid silver;
}

.checkMoreDetail:hover .moreDetailShow img {
    width: 50%;
    height: 50%;
}


/* 这是针对缺省样式 (必须的) */

::-webkit-scrollbar {
    width: 0px;
}


/* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-track {
    background-color: transparent;
}


/* 滑块颜色 */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    /*background-color: transparent;*/
    border-radius: 10px;
    cursor: pointer;
}


/* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-button {
    background-color: transparent;
    height: 3px;
    border-radius: 10px;
}


/* 横向滚动条和纵向滚动条相交处尖角的颜色 */

::-webkit-scrollbar-corner {
    background-color: transparent;
}


/*end Kun*/


/*杨玥*/


/*调整输入框边距*/

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 5px;
    line-height: 15px;
}

/*激活按钮div显示*/
.actbuttondiv {
    display: none;
}

.actbuttondiv .actcontent{
    display: block !important;
    z-index: 2;
    position: absolute;
    top: 50px;
    /*right: 7%;*/
    left: 16%;
    width: 600px;
    height: 140px;
    line-height: 40px;
    overflow: auto;
    /*margin-top: -60px;
    margin-left: -90px;*/
    padding: 20px 15px 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: left;
    font-size: 14px;
    border-radius: 10px;
}
.closebutton{
	margin-top: 15px;
	margin-left: 220px;
}
.closebutton a{
	font-size: 16px;
	cursor: pointer;
	color: white;
	
	/*margin-top: 20px;*/
	/*margin-top: 30px;*/
}

.closebutton span:hover{
	
}

.checkMoreDetail:hover .moreDetailShow span {
    border-bottom: 1px solid silver;
}


/*调整地址框*/

.form-control,
select {
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
/*按钮优化*/
button.btn.submit-btn,
button.btn.btn-return{
	height: 40px;
	width: 70px;
	border-radius: 5px;
	margin-top: 20px;
	margin-right: 5px;
	text-align: center;
	background-color: #18A665;
}
button.btn.submit-btn:hover,
button.btn.btn-return:hover{
	background-color: #006600;
	border-color: #FFFFFF;
}
button.btn.submit-btn:focus,
button.btn.btn-return:forcus{
	outline: #FFFFFF !important;
}

.form-item,.form-horizontal{
	margin-left: 15px;
	margin-top: 20px;
}
