<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                	
                	<form method="post" enctype="multipart/form-data" action="AddAd">
                     <label>广告名称：
                        <input type="text" name="ad_title">
                     </label>
                     <br>
                     <label>广告内容：
                        <textarea name="ad_text" style="vertical-align: top;width: 300px;height: 100px;"></textarea>
                     </label>
                     <br>
                     <label> 
                     	<table>
                     		<tr>
                     			<td><span>广告图片：</span></td>
                     			<td><input type="file" name="ad_picurl"></td>
                     		</tr>
                     	</table>
                     </label>
                     <br />
                     <br />
                     <br />
                     <button class="btn" type="submit">确认提交</button>
                    </form>
                	
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>


</body>
</html>